In [6]:
import numpy as np
import pandas as pd
from statsmodels.tsa.arima_process import ArmaProcess
import plotly.express as px

from datetime import datetime
from dateutil.relativedelta import relativedelta
import datetime

from utiles import *

# Import data

In [70]:
data = pd.read_csv("data.csv")
data=data.set_index('Unnamed: 0')
data = data.drop(data[data['Event_first_revision_date'] == "0"].index) # drop empty Event date 73
data['Event_first_revision_date'] = pd.to_datetime(data['Event_first_revision_date'])

# events_df contains the last 2 information of all events of the wikipediaapi_accidents (first_revision_date and cat)
events_df=pd.DataFrame()
events_df=data.iloc[:,-2:] #first_revision_date and cat
events_df['Main_Event_date'] = pd.to_datetime(events_df['Event_first_revision_date']) # Event_ first_revision_date
events_df['Main_Event_date']=[d.date() for d in events_df['Main_Event_date']]
events_df['Main Event']=events_df.index

In [71]:
events_df

,Category,Event_first_revision_date,Main_Event_date,Main Event
Unnamed: 0,,,,
Firestar,Fictional_characters,2006-10-27 22:02:07+00:00,2006-10-27,Firestar
Dark Avengers,Fictional_characters,2008-12-08 22:34:36+00:00,2008-12-08,Dark Avengers
David North,Fictional_characters,2008-05-12 16:05:29+00:00,2008-05-12,David North
Titania,Fictional_characters,2003-05-01 16:50:44+00:00,2003-05-01,Titania
Human Torch,Fictional_characters,2003-05-28 04:43:47+00:00,2003-05-28,Human Torch
...,...,...,...,...
2002 Mindanao earthquake,Earthquakes,2010-05-29 20:43:00+00:00,2010-05-29,2002 Mindanao earthquake
2002 Sumatra earthquake,Earthquakes,2010-11-29 09:44:40+00:00,2010-11-29,2002 Sumatra earthquake
2003 Alabama earthquake,Earthquakes,2006-05-10 01:04:53+00:00,2006-05-10,2003 Alabama earthquake
2003 Coquimbo earthquake,Earthquakes,2011-02-02 02:41:34+00:00,2011-02-02,2003 Coquimbo earthquake
2003 Dominican Republic earthquake,Earthquakes,2010-02-10 21:20:07+00:00,2010-02-10,2003 Dominican Republic earthquake

In [8]:
data.Category.value_counts()

Fictional_characters    492
train_accident          475
air_accidents           471
Movies                  448
Earthquakes             446
Actors                  434
Billionaires            326
Capitals                203
Countries               197
Universities            144
Volcano_eruptions        31
Hurricanes               11
Name: Category, dtype: int64

In [84]:
dic_peak_timestamps={}
dic_Impacting_event_OnPeak={}
dic_inpact={}

def aniv_Cat(cat,smoothing_window):
    
    df= data[data["Category"]==cat].iloc[:,:-3].T
    df.index = pd.to_datetime(df.index)
    
    print('working on df_peak_timestamps of ', cat)
    df_peak_timestamps=ts2peak(df,smoothing_window)
    df_peak_timestamps['Peak date'] =[d.date() for d in df_peak_timestamps['Timestamps']]
    df_peak_timestamps['First Event Aniv']=[events_df[events_df['Main Event']==event]['Main_Event_date'].values[0] for event in df_peak_timestamps['event']]  # ADD the first aniv date to the peak timestamps df
    #####
    
    # for each peak date in an event find the main event whose Main_Event_date coincides with a peak date
    #['Event', 'Peak Date', 'Peak Prominance', 'Impacting Event', 'Impacting Event Category', 'Impacting Event View count']
    
    print('working on inpact_df of ', cat)
    s1=df_peak_timestamps.merge(events_df, left_on='Peak date', right_on='Main_Event_date', how='left')
    s1=s1[~s1['Main Event'].isnull()]
    inpact_df=pd.DataFrame()
    inpact_df['Event']=s1['event']
    inpact_df['Peak Date']=pd.to_datetime(s1['Timestamps'])
    #inpact_df['Peak Date']=[d.date() for d in s1['Timestamps']]
    inpact_df['Peak Prominance']=s1['prominences']
    inpact_df['Impacting Event']=s1['Main Event']
    inpact_df['Impacting Event Category']=s1['Category']
    inpact_df['Impacting Event View count']=[data[str(dt)][ev] for dt ,ev in zip(inpact_df['Peak Date'],inpact_df['Impacting Event']) ] 
    
    
    
    #how many events in each categories have impacted the peaks in all events in one cat 
    
    #['Peak count', 'All impacting View count', 'Movies impacting View count', 'Earthquakes impacting View count',  
    #     'train_accident impacting View count', 'Billionaires impacting View count', 'air_accidents impacting View count',
    #     'Fictional_characters impacting View count', 'Actors impacting View count', 'Universities impacting View count',
    #      'Volcano_eruptions impacting View count', 'Hurricanes impacting View count', 'Capitals impacting View count']
    
    print('working on Impacting_event_OnPeak_df of ', cat)

    Impacting_event_OnPeak_df=pd.DataFrame()
    Impacting_event_OnPeak_df['Event']=df_peak_timestamps.event.value_counts().index
    Impacting_event_OnPeak_df['Peak count']=df_peak_timestamps.event.value_counts().values
    Impacting_event_OnPeak_df=Impacting_event_OnPeak_df.set_index('Event')
    
    Impacting_event_OnPeak_df = Impacting_event_OnPeak_df.merge(inpact_df["Event"].value_counts(), left_index=True, right_index=True, how='left')
    Impacting_event_OnPeak_df.columns = [*Impacting_event_OnPeak_df.columns[:-1], "All impacting View count"]

    for cat in s1.Category.unique():
        Impacting_event_OnPeak_df = Impacting_event_OnPeak_df.merge(inpact_df[inpact_df["Impacting Event Category"]==cat]["Event"].value_counts(), left_index=True, right_index=True, how='left')
        Impacting_event_OnPeak_df.columns = [*Impacting_event_OnPeak_df.columns[:-1], cat+" impacting View count"]
        
    Impacting_event_OnPeak_df=Impacting_event_OnPeak_df.fillna(0)   
    
    return df_peak_timestamps, inpact_df, Impacting_event_OnPeak_df



for cat in data.Category.unique():
    print('---------------------------------')
    print('Impact analysis on the category: ', cat)
    
    df_peak_timestamps, inpact_df, Impacting_event_OnPeak_df = aniv_Cat(cat,7)
    
    dic_peak_timestamps["{0}".format(cat)]=df_peak_timestamps
    dic_inpact["{0}".format(cat)]=inpact_df
    dic_Impacting_event_OnPeak["{0}".format(cat)]=Impacting_event_OnPeak_df

---------------------------------
Impact analysis on the category:  Fictional_characters
working on df_peak_timestamps of  Fictional_characters
working on inpact_df of  Fictional_characters
working on Impacting_event_OnPeak_df of  Fictional_characters
---------------------------------
Impact analysis on the category:  Actors
working on df_peak_timestamps of  Actors
working on inpact_df of  Actors
working on Impacting_event_OnPeak_df of  Actors
---------------------------------
Impact analysis on the category:  Movies
working on df_peak_timestamps of  Movies
working on inpact_df of  Movies
working on Impacting_event_OnPeak_df of  Movies
---------------------------------
Impact analysis on the category:  Countries
working on df_peak_timestamps of  Countries
working on inpact_df of  Countries
working on Impacting_event_OnPeak_df of  Countries
---------------------------------
Impact analysis on the category:  Capitals
working on df_peak_timestamps of  Capitals
working on inpact_df of  Capitals
working on Impacting_event_OnPeak_df of  Capitals
---------------------------------
Impact analysis on the category:  Billionaires
working on df_peak_timestamps of  Billionaires
working on inpact_df of  Billionaires
working on Impacting_event_OnPeak_df of  Billionaires
---------------------------------
Impact analysis on the category:  Universities
working on df_peak_timestamps of  Universities
working on inpact_df of  Universities
working on Impacting_event_OnPeak_df of  Universities
---------------------------------
Impact analysis on the category:  air_accidents
working on df_peak_timestamps of  air_accidents
working on inpact_df of  air_accidents
working on Impacting_event_OnPeak_df of  air_accidents
---------------------------------
Impact analysis on the category:  train_accident
working on df_peak_timestamps of  train_accident
working on inpact_df of  train_accident
working on Impacting_event_OnPeak_df of  train_accident
---------------------------------
Impact analysis on the category:  Volcano_eruptions
working on df_peak_timestamps of  Volcano_eruptions
working on inpact_df of  Volcano_eruptions
working on Impacting_event_OnPeak_df of  Volcano_eruptions
---------------------------------
Impact analysis on the category:  Hurricanes
working on df_peak_timestamps of  Hurricanes
working on inpact_df of  Hurricanes
working on Impacting_event_OnPeak_df of  Hurricanes
---------------------------------
Impact analysis on the category:  Earthquakes
working on df_peak_timestamps of  Earthquakes
working on inpact_df of  Earthquakes
working on Impacting_event_OnPeak_df of  Earthquakes

In [85]:
dic_peak_timestamps

{'Fictional_characters':     Timestamps    right_ips     left_ips  right_bases  left_bases  \
 0   2015-07-29    26.186567    15.571875           29           0
 1   2015-08-18    56.950980    32.855263           69           0
 2   2015-09-24    83.133921    74.951937         2523           0
 3   2015-10-29   116.296748   109.395652          133         104
 4   2015-12-01   163.734177   139.234375          171         133
 ..         ...          ...          ...          ...         ...
 251 2022-05-17  2509.539683  2505.021739         2525        2504
 252 2022-06-12  2534.208824  2527.622881         2538        2525
 253 2022-06-27  2553.351471  2546.265000         2554        2539
 254 2022-07-08  2562.648855  2555.971631         2565        2554
 255 2022-07-22  2573.579882  2566.864524         2576        2343

      prominences        Value     widths  width_heights       days  months  \
 0      99.000000   556.142857  10.614692     506.642857  Wednesday     7.0
 1     166.428571   563.142857  24.095717     479.928571    Tuesday     8.0
 2    1015.857143  1391.000000   8.181984     883.071429   Thursday     9.0
 3      33.000000   359.714286   6.901096     343.214286   Thursday    10.0
 4     124.571429   387.714286  24.499802     325.428571    Tuesday    12.0
 ..           ...          ...        ...            ...        ...     ...
 251    38.571429   224.142857   4.517943     204.857143    Tuesday     5.0
 252   113.571429   269.857143   6.585942     213.071429     Sunday     6.0
 253    63.000000   206.000000   7.086471     174.500000     Monday     6.0
 254    50.285714   200.857143   6.677224     175.714286     Friday     7.0
 255   165.428571   359.571429   6.715358     276.857143     Friday     7.0

        year         event distance_2_peak   Peak date First Event Aniv
 0    2015.0      Firestar             NaT  2015-07-29       2006-10-27
 1    2015.0      Firestar         20 days  2015-08-18       2006-10-27
 2    2015.0      Firestar         37 days  2015-09-24       2006-10-27
 3    2015.0      Firestar         35 days  2015-10-29       2006-10-27
 4    2015.0      Firestar         33 days  2015-12-01       2006-10-27
 ..      ...           ...             ...         ...              ...
 251  2022.0  Hope Summers         10 days  2022-05-17       2006-07-17
 252  2022.0  Hope Summers         26 days  2022-06-12       2006-07-17
 253  2022.0  Hope Summers         15 days  2022-06-27       2006-07-17
 254  2022.0  Hope Summers         11 days  2022-07-08       2006-07-17
 255  2022.0  Hope Summers         14 days  2022-07-22       2006-07-17

 [53254 rows x 16 columns],
 'Actors':     Timestamps    right_ips     left_ips  right_bases  left_bases  \
 0   2015-07-08     1.404995     0.500000            8           0
 1   2015-07-10     3.154202     2.500000            8           2
 2   2015-07-12     6.109856     4.500000            8           4
 3   2015-07-17    10.939861     9.469416           12           8
 4   2015-07-22    16.570661     8.727782           27           8
 ..         ...          ...          ...          ...         ...
 324 2022-07-06  2557.075389  2554.758862         2558        2550
 325 2022-07-10  2562.410040  2559.145767         2576        2550
 326 2022-07-15  2565.296136  2564.500000         2576        2564
 327 2022-07-21  2572.555556  2569.240331         2576        2567
 328 2022-07-30  2580.500000  2579.266667         2581        2576

      prominences         Value    widths  width_heights       days  months  \
 0     118.142857  12892.571429  0.904995   12833.500000  Wednesday     7.0
 1      52.428571  12799.142857  0.654202   12772.928571     Friday     7.0
 2      77.142857  12706.285714  1.609856   12667.714286     Sunday     7.0
 3     270.142857  13401.000000  1.470444   13265.928571     Friday     7.0
 4    1095.000000  13489.142857  7.842879   12941.642857  Wednesday     7.0
 ..           ...           ...       ...            ...        ...     ...
 324   271.571429   6601.857143  2.316527    6466.071429  Wednesday     7.0
 325   689.000000   7011.571429  3.264273    6667.071429     Sunday     7.0
 326   127.000000   6676.285714  0.796136    6612.785714     Friday     7.0
 327   134.285714   6214.142857  3.315224    6147.000000   Thursday     7.0
 328    15.714286   6249.285714  1.233333    6241.428571   Saturday     7.0

        year              event distance_2_peak   Peak date First Event Aniv
 0    2015.0      Ronald Reagan             NaT  2015-07-08       2001-09-28
 1    2015.0      Ronald Reagan          2 days  2015-07-10       2001-09-28
 2    2015.0      Ronald Reagan          2 days  2015-07-12       2001-09-28
 3    2015.0      Ronald Reagan          5 days  2015-07-17       2001-09-28
 4    2015.0      Ronald Reagan          5 days  2015-07-22       2001-09-28
 ..      ...                ...             ...         ...              ...
 324  2022.0  Justin Timberlake          4 days  2022-07-06       2002-08-08
 325  2022.0  Justin Timberlake          4 days  2022-07-10       2002-08-08
 326  2022.0  Justin Timberlake          5 days  2022-07-15       2002-08-08
 327  2022.0  Justin Timberlake          6 days  2022-07-21       2002-08-08
 328  2022.0  Justin Timberlake          9 days  2022-07-30       2002-08-08

 [92486 rows x 16 columns],
 'Movies':    Timestamps    right_ips     left_ips  right_bases  left_bases  prominences  \
 0  2015-07-21    15.434211    12.050000           17           7    16.285714
 1  2015-07-27    21.275510    19.377193           22          17    10.142857
 2  2015-08-07    37.323770    29.085366           39           7    31.571429
 3  2015-08-22    49.010753    42.604651           52           7    63.714286
 4  2015-09-05    63.695402    57.254098           68          52    35.285714
 ..        ...          ...          ...          ...         ...          ...
 43 2021-04-11  2108.547619  2101.500000         2124        2095    15.571429
 44 2021-05-12  2139.109375  2131.978022         2222        2124    32.285714
 45 2021-10-20  2302.741935  2286.000000         2334        2222    32.285714
 46 2021-12-27  2367.833333  2359.815789         2409        2334    26.000000
 47 2022-03-19  2453.705128  2436.859375         2517        2222    55.000000

          Value     widths  width_heights       days  months    year  \
 0   374.285714   3.384211     366.142857    Tuesday     7.0  2015.0
 1   373.571429   1.898317     368.500000     Monday     7.0  2015.0
 2   406.571429   8.238405     390.785714     Friday     8.0  2015.0
 3   439.857143   6.406102     408.000000   Saturday     8.0  2015.0
 4   420.857143   6.441304     403.214286   Saturday     9.0  2015.0
 ..         ...        ...            ...        ...     ...     ...
 43   45.857143   7.047619      38.071429     Sunday     4.0  2021.0
 44   57.000000   7.131353      40.857143  Wednesday     5.0  2021.0
 45   49.714286  16.741935      33.571429  Wednesday    10.0  2021.0
 46   45.857143   8.017544      32.857143     Monday    12.0  2021.0
 47   74.142857  16.845753      46.642857   Saturday     3.0  2022.0

              event distance_2_peak   Peak date First Event Aniv
 0   Hands of Stone             NaT  2015-07-21       2013-05-22
 1   Hands of Stone          6 days  2015-07-27       2013-05-22
 2   Hands of Stone         11 days  2015-08-07       2013-05-22
 3   Hands of Stone         15 days  2015-08-22       2013-05-22
 4   Hands of Stone         14 days  2015-09-05       2013-05-22
 ..             ...             ...         ...              ...
 43  Land of Storms         45 days  2021-04-11       2014-02-04
 44  Land of Storms         31 days  2021-05-12       2014-02-04
 45  Land of Storms        161 days  2021-10-20       2014-02-04
 46  Land of Storms         68 days  2021-12-27       2014-02-04
 47  Land of Storms         82 days  2022-03-19       2014-02-04

 [38904 rows x 16 columns],
 'Countries':     Timestamps    right_ips     left_ips  right_bases  left_bases  \
 0   2015-07-16    11.638645     4.924528           16           1
 1   2015-08-02    29.850729    22.558634           54          16
 2   2015-08-11    35.500000    33.887132           36          33
 3   2015-08-14    38.939046    36.210961           41          33
 4   2015-08-20    46.521164    42.188638           54          33
 ..         ...          ...          ...          ...         ...
 318 2022-06-23  2543.207627  2541.907407         2544        2541
 319 2022-06-28  2548.555980  2546.820000         2550        2544
 320 2022-07-03  2553.500000  2551.093750         2554        2550
 321 2022-07-11  2562.205000  2560.445993         2563        2550
 322 2022-07-18  2570.203905  2564.982206         2573        2550

      prominences        Value    widths  width_heights      days  months  \
 0     291.428571  5942.857143  6.714117    5797.142857  Thursday       7
 1    1542.142857  7560.000000  7.292095    6788.928571    Sunday       8
 2      38.714286  6581.000000  1.612868    6561.642857   Tuesday       8
 3     151.857143  6638.285714  2.728085    6562.357143    Friday       8
 4     279.285714  6724.714286  4.332526    6585.071429  Thursday       8
 ..           ...          ...       ...            ...       ...     ...
 318    14.000000  4066.000000  1.300220    4059.000000  Thursday       6
 319    62.428571  4094.714286  1.735980    4063.500000   Tuesday       6
 320    20.285714  4043.857143  2.406250    4033.714286    Sunday       7
 321    45.428571  4388.428571  1.759007    4365.714286    Monday       7
 322   172.571429  4538.857143  5.221698    4452.571429    Monday       7

      year        event distance_2_peak   Peak date First Event Aniv
 0    2015  Afghanistan             NaT  2015-07-16       2001-11-14
 1    2015  Afghanistan         17 days  2015-08-02       2001-11-14
 2    2015  Afghanistan          9 days  2015-08-11       2001-11-14
 3    2015  Afghanistan          3 days  2015-08-14       2001-11-14
 4    2015  Afghanistan          6 days  2015-08-20       2001-11-14
 ..    ...          ...             ...         ...              ...
 318  2022     Zimbabwe          3 days  2022-06-23       2001-03-13
 319  2022     Zimbabwe          5 days  2022-06-28       2001-03-13
 320  2022     Zimbabwe          5 days  2022-07-03       2001-03-13
 321  2022     Zimbabwe          8 days  2022-07-11       2001-03-13
 322  2022     Zimbabwe          7 days  2022-07-18       2001-03-13

 [62573 rows x 16 columns],
 'Capitals':     Timestamps    right_ips     left_ips  right_bases  left_bases  \
 0   2015-07-08     3.476190     0.500000            8           0
 1   2015-07-18    11.584615     9.902041           13           8
 2   2015-07-22    16.544715     9.714286           18           8
 3   2015-08-02    28.885744    23.700524           30           8
 4   2015-08-11    39.526108    31.316262          230           8
 ..         ...          ...          ...          ...         ...
 223 2022-05-21  2510.555556  2507.076923         2517        2503
 224 2022-06-10  2535.339662  2523.186620         2554        2517
 225 2022-06-20  2540.500000  2539.541667         2541        2539
 226 2022-06-26  2549.100719  2542.448980         2554        2539
 227 2022-07-15  2569.010989  2562.152381         2572        2554

      prominences        Value     widths  width_heights       days  months  \
 0      26.000000  1124.285714   2.976190    1111.285714  Wednesday       7
 1      10.857143  1136.000000   1.682575    1130.571429   Saturday       7
 2      29.142857  1138.571429   6.830430    1124.000000  Wednesday       7
 3     134.428571  1440.571429   5.185220    1373.357143     Sunday       8
 4     645.285714  1722.142857   8.209846    1399.500000    Tuesday       8
 ..           ...          ...        ...            ...        ...     ...
 223    30.000000   739.571429   3.478632     724.571429   Saturday       5
 224   120.714286   812.285714  12.153043     751.928571     Friday       6
 225    11.000000   697.571429   0.958333     692.071429     Monday       6
 226    40.571429   726.142857   6.651740     705.857143     Sunday       6
 227    78.285714   818.857143   6.858608     779.714286     Friday       7

      year   event distance_2_peak   Peak date First Event Aniv
 0    2015   Kabul             NaT  2015-07-08       2001-11-13
 1    2015   Kabul         10 days  2015-07-18       2001-11-13
 2    2015   Kabul          4 days  2015-07-22       2001-11-13
 3    2015   Kabul         11 days  2015-08-02       2001-11-13
 4    2015   Kabul          9 days  2015-08-11       2001-11-13
 ..    ...     ...             ...         ...              ...
 223  2022  Harare         15 days  2022-05-21       2002-06-13
 224  2022  Harare         20 days  2022-06-10       2002-06-13
 225  2022  Harare         10 days  2022-06-20       2002-06-13
 226  2022  Harare          6 days  2022-06-26       2002-06-13
 227  2022  Harare         19 days  2022-07-15       2002-06-13

 [44009 rows x 16 columns],
 'Billionaires':    Timestamps    right_ips     left_ips  right_bases  left_bases  prominences  \
 0  2015-07-08     2.219386     0.500000           10           0   269.857143
 1  2015-07-24    17.500000    16.574808           18          10   269.571429
 2  2015-07-26    23.324103    15.289821           28          10  4571.857143
 3  2015-07-28    22.002161    20.500000           28          20    41.857143
 4  2015-08-01    25.027767    24.500000           28          24    42.857143
 ..        ...          ...          ...          ...         ...          ...
 94 2022-03-11  2439.500000  2433.714286         2440        2432    11.428571
 95 2022-03-19  2452.225857  2445.203416         2454        2432    75.857143
 96 2022-04-11  2474.000377  2466.821483         2563        2432   455.000000
 97 2022-05-26  2519.100000  2509.861111         2563        2503    17.571429
 98 2022-07-05  2560.313559  2553.193878         2563        2543    11.857143

            Value    widths  width_heights       days  months    year  \
 0   16840.571429  1.719386   16705.642857  Wednesday     7.0  2015.0
 1   16303.000000  0.925192   16168.214286     Friday     7.0  2015.0
 2   16579.571429  8.034283   14293.642857     Sunday     7.0  2015.0
 3   16282.142857  1.502161   16261.214286    Tuesday     7.0  2015.0
 4   14153.428571  0.527767   14132.000000   Saturday     8.0  2015.0
 ..           ...       ...            ...        ...     ...     ...
 94     64.714286  5.785714      59.000000     Friday     3.0  2022.0
 95    131.714286  7.022441      93.785714   Saturday     3.0  2022.0
 96    500.857143  7.178894     273.357143     Monday     4.0  2022.0
 97     59.142857  9.238889      50.357143   Thursday     5.0  2022.0
 98     43.857143  7.119682      37.928571    Tuesday     7.0  2022.0

               event distance_2_peak   Peak date First Event Aniv
 0         Elon Musk             NaT  2015-07-08       2004-08-18
 1         Elon Musk         16 days  2015-07-24       2004-08-18
 2         Elon Musk          2 days  2015-07-26       2004-08-18
 3         Elon Musk          2 days  2015-07-28       2004-08-18
 4         Elon Musk          4 days  2015-08-01       2004-08-18
 ..              ...             ...         ...              ...
 94  Trevor Hemmings         15 days  2022-03-11       2006-06-22
 95  Trevor Hemmings          8 days  2022-03-19       2006-06-22
 96  Trevor Hemmings         23 days  2022-04-11       2006-06-22
 97  Trevor Hemmings         45 days  2022-05-26       2006-06-22
 98  Trevor Hemmings         40 days  2022-07-05       2006-06-22

 [42125 rows x 16 columns],
 'Universities':     Timestamps    right_ips     left_ips  right_bases  left_bases  \
 0   2015-07-16     9.500000     8.173611           10           1
 1   2015-07-20    14.302817    11.881148           16           1
 2   2015-07-30    28.258007    21.208038           39           1
 3   2015-08-09    35.827586    32.149321           39          29
 4   2015-08-22    46.876133    44.222222           62          39
 ..         ...          ...          ...          ...         ...
 133 2022-05-17  2510.662500  2505.160714         2513        2500
 134 2022-05-27  2520.108108  2513.631579         2526        2500
 135 2022-06-14  2539.671642  2532.264706         2541        2526
 136 2022-07-09  2566.875000  2553.320513         2572        2526
 0   2019-03-26  1360.129630  1352.598837         1979         542

      prominences        Value     widths  width_heights      days  months  \
 0      17.000000  1211.000000   1.326389    1202.500000  Thursday     7.0
 1      29.857143  1229.000000   2.421669    1214.071429    Monday     7.0
 2     487.285714  1664.714286   7.049969    1421.071429  Thursday     7.0
 3      53.714286  1266.285714   3.678265    1239.428571    Sunday     8.0
 4      82.857143  1390.000000   2.653911    1348.571429  Saturday     8.0
 ..           ...          ...        ...            ...       ...     ...
 133    20.142857   275.857143   5.501786     265.785714   Tuesday     5.0
 134    37.714286   279.714286   6.476529     260.857143    Friday     5.0
 135    25.142857   256.000000   7.406936     243.428571   Tuesday     6.0
 136    35.000000   281.285714  13.554487     263.785714  Saturday     7.0
 0      32.142857    33.142857   7.530792      17.071429   Tuesday     3.0

        year                               event distance_2_peak   Peak date  \
 0    2015.0  California Institute of Technology             NaT  2015-07-16
 1    2015.0  California Institute of Technology          4 days  2015-07-20
 2    2015.0  California Institute of Technology         10 days  2015-07-30
 3    2015.0  California Institute of Technology         10 days  2015-08-09
 4    2015.0  California Institute of Technology         13 days  2015-08-22
 ..      ...                                 ...             ...         ...
 133  2022.0    Illinois Institute of Technology         13 days  2022-05-17
 134  2022.0    Illinois Institute of Technology         10 days  2022-05-27
 135  2022.0    Illinois Institute of Technology         18 days  2022-06-14
 136  2022.0    Illinois Institute of Technology         25 days  2022-07-09
 0    2019.0         Stedelijk Gymnasium Haarlem      -1201 days  2019-03-26

     First Event Aniv
 0         2001-06-28
 1         2001-06-28
 2         2001-06-28
 3         2001-06-28
 4         2001-06-28
 ..               ...
 133       2002-08-19
 134       2002-08-19
 135       2002-08-19
 136       2002-08-19
 0         2010-12-02

 [18425 rows x 16 columns],
 'air_accidents':     Timestamps    right_ips     left_ips  right_bases  left_bases  \
 0   2015-07-13     6.500000     5.224265            7           0
 1   2015-07-17    12.096591     3.933985           17           0
 2   2015-07-31    25.546875    23.454407           32          17
 3   2015-08-06    30.854839    29.283784           32          27
 4   2015-08-12    36.500000    35.500000           37          17
 ..         ...          ...          ...          ...         ...
 107 2022-05-28  2520.405864  2513.501678         2524        2508
 108 2022-06-11  2534.378571  2526.560773         2539        2524
 109 2022-06-24  2546.662879  2539.666392         2560        2446
 110 2022-07-03  2557.317460  2550.794872         2560        2549
 111 2022-07-20  2570.500000  2569.220000         2571        2560

      prominences        Value    widths  width_heights       days  months  \
 0      30.142857  1530.428571  1.275735    1515.357143     Monday     7.0
 1     134.571429  1565.571429  8.162606    1498.285714     Friday     7.0
 2      51.285714  1562.428571  2.092468    1536.785714     Friday     7.0
 3      15.142857  1530.285714  1.571055    1522.714286   Thursday     8.0
 4      23.285714  1569.714286  1.000000    1558.071429  Wednesday     8.0
 ..           ...          ...       ...            ...        ...     ...

In [86]:
dic_inpact

{'Fictional_characters':               Event  Peak Date  Peak Prominance  \
 1          Firestar 2015-08-18       166.428571
 4          Firestar 2015-12-01       124.571429
 9          Firestar 2016-04-01        49.285714
 27         Firestar 2017-04-11       118.571429
 29         Firestar 2017-05-09        10.428571
 ...             ...        ...              ...
 54769  Hope Summers 2021-10-23       214.714286
 54770  Hope Summers 2021-10-31        12.000000
 54776  Hope Summers 2022-01-15        11.142857
 54793  Hope Summers 2022-06-27        63.000000
 54794  Hope Summers 2022-06-27        63.000000

                                          Impacting Event  \
 1                           Ang Sugo: The Last Messenger
 4                             Eruption of Mount Tarawera
 9                                            The Culling
 27                            Elsterwerda train disaster
 29                                 Genthin rail disaster
 ...                                                  ...
 54769  1933 United Airlines Boeing 247 mid-air explosion
 54770                          2021 Salisbury rail crash
 54776                            Empire State University
 54793                            UM Airlines Flight 4230
 54794                     2022 Missouri train derailment

       Impacting Event Category  Impacting Event View count
 1                       Movies                       425.0
 4            Volcano_eruptions                        12.0
 9                       Movies                       281.0
 27              train_accident                         2.0
 29              train_accident                         0.0
 ...                        ...                         ...
 54769            air_accidents                        49.0
 54770           train_accident                      1158.0
 54776     Fictional_characters                         3.0
 54793            air_accidents                        14.0
 54794           train_accident                       558.0

 [8575 rows x 6 columns],
 'Actors':                    Event  Peak Date  Peak Prominance  \
 2          Ronald Reagan 2015-07-12        77.142857
 3          Ronald Reagan 2015-07-12        77.142857
 7          Ronald Reagan 2015-08-13      6000.142857
 8          Ronald Reagan 2015-08-26       907.000000
 16         Ronald Reagan 2015-10-26       651.428571
 ...                  ...        ...              ...
 94895  Justin Timberlake 2022-06-16        20.285714
 94896  Justin Timberlake 2022-06-16        20.285714
 94897  Justin Timberlake 2022-06-16        20.285714
 94898  Justin Timberlake 2022-06-16        20.285714
 94905  Justin Timberlake 2022-07-30        15.714286

                             Impacting Event Impacting Event Category  \
 2                        The Snake Brothers                   Movies
 3      February 2001 El Salvador earthquake              Earthquakes
 7                      Looking for Hortense                   Movies
 8                              Gerard Tichy                   Actors
 16                        Naanum Rowdydhaan                   Movies
 ...                                     ...                      ...
 94895            United Airlines Flight 610            air_accidents
 94896            United Airlines Flight 608            air_accidents
 94897            United Airlines Flight 629            air_accidents
 94898            United Airlines Flight 736            air_accidents
 94905                         One Above All     Fictional_characters

        Impacting Event View count
 2                            34.0
 3                             7.0
 7                             8.0
 8                             8.0
 16                        15651.0
 ...                           ...
 94895                        27.0
 94896                        22.0
 94897                        44.0
 94898                        32.0
 94905                        40.0

 [14617 rows x 6 columns],
 'Movies':                 Event  Peak Date  Peak Prominance  \
 2      Hands of Stone 2015-08-07        31.571429
 8      Hands of Stone 2015-10-22        16.142857
 10     Hands of Stone 2015-12-06        11.428571
 18     Hands of Stone 2016-04-01       155.571429
 21     Hands of Stone 2016-05-01        22.857143
 ...               ...        ...              ...
 40023  Land of Storms 2016-06-18        15.857143
 40037  Land of Storms 2018-04-05        12.000000
 40043  Land of Storms 2018-10-09        25.714286
 40044  Land of Storms 2019-01-02        24.428571
 40061  Land of Storms 2021-04-11        15.571429

                              Impacting Event Impacting Event Category  \
 2                 2015 South Kivu earthquake              Earthquakes
 8                                Ma Jianrong             Billionaires
 10                     Katyar Kaljat Ghusali                   Movies
 18                               The Culling                   Movies
 21                           Lawrence Stroll             Billionaires
 ...                                      ...                      ...
 40023                        Beatritz de Dia                   Actors
 40037  2011 Chinook shootdown in Afghanistan            air_accidents
 40043                 1963 Chualar bus crash           train_accident
 40044        Great Belt Bridge rail accident           train_accident
 40061          2021 eruption of La SoufriÃ¨re        Volcano_eruptions

        Impacting Event View count
 2                             0.0
 8                             7.0
 10                          129.0
 18                          281.0
 21                           10.0
 ...                           ...
 40023                        42.0
 40037                       189.0
 40043                       337.0
 40044                      1305.0
 40061                      1092.0

 [6438 rows x 6 columns],
 'Countries':              Event  Peak Date  Peak Prominance  \
 3      Afghanistan 2015-08-14       151.857143
 17     Afghanistan 2015-12-31        26.428571
 22     Afghanistan 2016-02-01       184.714286
 24     Afghanistan 2016-02-13        11.857143
 29     Afghanistan 2016-03-04        10.714286
 ...            ...        ...              ...
 64066     Zimbabwe 2021-05-13       245.857143
 64076     Zimbabwe 2021-08-22       279.000000
 64077     Zimbabwe 2021-08-22       279.000000
 64087     Zimbabwe 2021-11-14       840.142857
 64104     Zimbabwe 2022-03-06        20.428571

                                          Impacting Event  \
 3                                  2011 Burma earthquake
 17                      1841 "CaÃ­da da Praia" earthquake
 22                          Massimiliana Landini Aleotti
 24                              MirosÅ‚awiec air disaster
 29                                           Boris Titov
 ...                                                  ...
 64066  Tad the Lost Explorer and the Secret of King M...
 64076                                Air Bagan Flight 11
 64077                         1990 Carlentini earthquake
 64087                       1978 Yegoryevsk Tu-144 crash
 64104                                      Dalibor DÄ›dek

       Impacting Event Category  Impacting Event View count
 3                  Earthquakes                        11.0
 17                 Earthquakes                        18.0
 22                Billionaires                        82.0
 24               air_accidents                        32.0
 29                Billionaires                        59.0
 ...                        ...                         ...
 64066                   Movies                        33.0
 64076            air_accidents                        12.0
 64077              Earthquakes                        42.0
 64087            air_accidents                         5.0
 64104             Billionaires                        25.0

 [9716 rows x 6 columns],
 'Capitals':         Event  Peak Date  Peak Prominance  \
 1       Kabul 2015-07-18        10.857143
 14      Kabul 2015-11-18        10.571429
 22      Kabul 2016-02-07       116.714286
 24      Kabul 2016-03-12        35.000000
 31      Kabul 2016-04-15        94.285714
 ...       ...        ...              ...
 45090  Harare 2020-12-04        21.142857
 45106  Harare 2021-05-13        34.714286
 45113  Harare 2021-08-22        79.142857
 45114  Harare 2021-08-22        79.142857
 45126  Harare 2022-01-15       170.571429

                                          Impacting Event  \
 1                                        Dragon Gate Inn
 14                                  Aab-e-Gum derailment
 22                        O'Hare CTA station train crash
 24                                      Double Six Crash
 31                               2005 Sumatra earthquake
 ...                                                  ...
 45090                                        Osman Kibar
 45106  Tad the Lost Explorer and the Secret of King M...
 45113                                Air Bagan Flight 11
 45114                         1990 Carlentini earthquake
 45126                            Empire State University

       Impacting Event Category  Impacting Event View count
 1                       Movies                        68.0
 14              train_accident                        28.0
 22              train_accident                        25.0
 24               air_accidents                        30.0
 31                 Earthquakes                       179.0
 ...                        ...                         ...
 45090             Billionaires                         4.0
 45106                   Movies                        33.0
 45113            air_accidents                        12.0
 45114              Earthquakes                        42.0
 45126     Fictional_characters                         3.0

 [7036 rows x 6 columns],
 'Billionaires':                  Event  Peak Date  Peak Prominance  \
 6            Elon Musk 2015-08-15       324.428571
 9            Elon Musk 2015-09-03      1104.428571
 10           Elon Musk 2015-09-16     23815.142857
 13           Elon Musk 2015-10-06      5909.142857
 18           Elon Musk 2015-11-15       404.285714
 ...                ...        ...              ...
 43017  Trevor Hemmings 2019-03-17        56.142857
 43027  Trevor Hemmings 2019-11-09        86.714286
 43041  Trevor Hemmings 2020-07-02        38.428571
 43050  Trevor Hemmings 2020-12-04       156.142857
 43053  Trevor Hemmings 2021-02-06        49.285714

                       Impacting Event Impacting Event Category  \
 6               Jai Jawaan Jai Kisaan                   Movies
 9                        Iruvar Ullam                   Movies
 10            2015 Illapel earthquake              Earthquakes
 13     Muhammad: The Messenger of God                   Movies
 18                        Fahd Hariri             Billionaires
 ...                               ...                      ...
 43017                  Brother Nature                   Movies
 43027                  Recep Ä°vedik 6                   Movies
 43041    Vereshchyovka train disaster           train_accident
 43050                     Osman Kibar             Billionaires
 43053                   Zhong Huijuan             Billionaires

        Impacting Event View count
 6                           121.0
 9                            55.0
 10                            0.0
 13                           14.0
 18                           29.0
 ...                           ...
 43017                         9.0
 43027                        45.0
 43041                        28.0
 43050                         4.0
 43053                        47.0

 [6462 rows x 6 columns],
 'Universities':                                     Event  Peak Date  Peak Prominance  \
 1      California Institute of Technology 2015-07-20        29.857143
 5      California Institute of Technology 2015-08-31        57.857143
 6      California Institute of Technology 2015-08-31        57.857143
 7      California Institute of Technology 2015-09-16        16.285714
 19     California Institute of Technology 2016-02-28        47.142857
 ...                                   ...        ...              ...
 18865    Illinois Institute of Technology 2021-08-23        85.428571
 18866    Illinois Institute of Technology 2021-09-05        11.571429
 18870    Illinois Institute of Technology 2021-11-16        22.571429
 18871    Illinois Institute of Technology 2021-12-04       614.000000
 18875    Illinois Institute of Technology 2022-03-16        20.285714

                             Impacting Event Impacting Event Category  \
 1                                  The Loft                   Movies
 5                      Tale of Three Cities                   Movies
 6               1990 Back Bay rail accident           train_accident
 7                   2015 Illapel earthquake              Earthquakes
 19             1941 Gloria Fault earthquake              Earthquakes
 ...                                     ...                      ...
 18865                     Aeroflot Flight 4            air_accidents
 18866  2008 Chelyabinsk Antonov An-12 crash            air_accidents
 18870             Japan Airlines Flight 350            air_accidents
 18871                  2021 Semeru eruption        Volcano_eruptions
 18875               1706 Abruzzo earthquake              Earthquakes

        Impacting Event View count
 1                           123.0
 5                           113.0
 6                            31.0
 7                             0.0
 19                           22.0
 ...                           ...
 18865                        14.0
 18866                        12.0
 18870                       114.0
 18871                       928.0
 18875                        60.0

 [2945 rows x 6 columns],
 'air_accidents':                              Event  Peak Date  Peak Prominance  \
 7      American Airlines Flight 11 2015-09-16     13370.142857
 11     American Airlines Flight 11 2015-12-07       153.142857
 17     American Airlines Flight 11 2016-02-07        18.428571
 21     American Airlines Flight 11 2016-02-28        22.142857
 22     American Airlines Flight 11 2016-03-07        14.571429
 ...                            ...        ...              ...
 34427   United Express Flight 6291 2021-02-16       208.285714
 34432   United Express Flight 6291 2021-04-16       201.857143
 34435   United Express Flight 6291 2021-05-05        18.428571
 34451   United Express Flight 6291 2021-12-06        10.000000
 34452   United Express Flight 6291 2021-12-11        34.285714

                         Impacting Event Impacting Event Category  \
 7               2015 Illapel earthquake              Earthquakes
 11           2015 Tajikistan earthquake              Earthquakes
 17       O'Hare CTA station train crash           train_accident
 21         1941 Gloria Fault earthquake              Earthquakes
 22                      Mathis Landwehr                   Actors
 ...                                 ...                      ...
 34427      2011 Boudouaou rail accident           train_accident
 34432                      Patta Pagalu                   Movies
 34435  Salt Clay Creek railway disaster           train_accident
 34451                         Himeanole                   Movies
 34452        2006 Kamchatka earthquakes              Earthquakes

        Impacting Event View count
 7                             0.0
 11                          304.0
 17                           25.0
 21                           22.0
 22                           19.0
 ...                           ...
 34427                        54.0
 34432                       898.0
 34435                        50.0
 34451                        39.0
 34452                         6.0

 [5341 rows x 6 columns],
 'train_accident':                                Event  Peak Date  Peak Prominance  \
 0          Great Train Wreck of 1918 2015-07-11       196.428571
 8          Great Train Wreck of 1918 2016-02-01        18.142857
 11         Great Train Wreck of 1918 2016-04-09        40.000000
 12         Great Train Wreck of 1918 2016-05-01        21.285714
 13         Great Train Wreck of 1918 2016-06-15        19.571429
 ...                              ...        ...              ...
 9390    2003 Melbourne runaway train 2021-10-12        31.285714
 9398               Soure train crash 2021-10-28        11.285714
 9404           Sohag train collision 2021-06-12        22.285714
 9408  2021 Kelana Jaya LRT collision 2021-06-12        14.000000
 9412  2021 Kelana Jaya LRT collision 2021-10-31        32.714286

                                        Impacting Event  \
 0                                    Claire's Cambodia
 8                         Massimiliana Landini Aleotti
 11                                 Agni Air Flight CHT
 12                                     Lawrence Stroll
 13                                          The F Word
 ...                                                ...
 9390  1963 Aeroflot Tupolev Tu-124 Neva river ditching
 9398                           1938 Yosemite TWA crash
 9404          1958 Central African Airways plane crash
 9408          1958 Central African Airways plane crash
 9412                         2021 Salisbury rail crash

      Impacting Event Category  Impacting Event View count
 0                      Movies                        79.0
 8                Billionaires                        82.0
 11              air_accidents                        53.0
 12               Billionaires                        10.0
 13                     Movies                       259.0
 ...                       ...                         ...
 9390            air_accidents                        20.0
 9398            air_accidents                        10.0
 9404            air_accidents                         3.0
 9408            air_accidents                         3.0
 9412           train_accident                      1158.0

 [1465 rows x 6 columns],
 'Volcano_eruptions':                                    Event  Peak Date  Peak Prominance  \
 11         2021 eruption of La SoufriÃ¨re 2021-05-24        18.428571
 20         2021 eruption of La SoufriÃ¨re 2022-03-06        12.000000
 38                  2021 Semeru eruption 2021-12-11      8000.571429
 57    2010 eruptions of EyjafjallajÃ¶kull 2015-12-07       144.142857
 58    2010 eruptions of EyjafjallajÃ¶kull 2015-12-26        11.571429
 ...                                  ...        ...              ...
 1907       Campanian Ignimbrite eruption 2018-06-10        12.142857
 1932       Campanian Ignimbrite eruption 2021-12-11        14.857143
 1938  2017â€“2018 eruptions of Mount Agung 2018-02-04        53.571429
 1939  2017â€“2018 eruptions of Mount Agung 2018-02-25       123.142857
 1946  2017â€“2018 eruptions of Mount Agung 2018-07-30        16.714286

                             Impacting Event Impacting Event Category  \
 11           2021 Kelana Jaya LRT collision           train_accident
 20                            Dalibor DÄ›dek             Billionaires
 38               2006 Kamchatka earthquakes              Earthquakes
 57               2015 Tajikistan earthquake              Earthquakes
 58               2015 Hindu Kush earthquake              Earthquakes
 ...                                     ...                      ...
 1907       1993 Big Bayou Canot train wreck           train_accident
 1932             2006 Kamchatka earthquakes              Earthquakes
 1938  Cayce, South Carolina train collision           train_accident
 1939                          ZdenÄ›k Bakala             Billionaires
 1946                            Colin Huang             Billionaires


In [89]:
dic_inpact['Fictional_characters']

,Event,Peak Date,Peak Prominance,Impacting Event,Impacting Event Category,Impacting Event View count
1,Firestar,2015-08-18,166.428571,Ang Sugo: The Last Messenger,Movies,425.0
4,Firestar,2015-12-01,124.571429,Eruption of Mount Tarawera,Volcano_eruptions,12.0
9,Firestar,2016-04-01,49.285714,The Culling,Movies,281.0
27,Firestar,2017-04-11,118.571429,Elsterwerda train disaster,train_accident,2.0
29,Firestar,2017-05-09,10.428571,Genthin rail disaster,train_accident,0.0
...,...,...,...,...,...,...
54769,Hope Summers,2021-10-23,214.714286,1933 United Airlines Boeing 247 mid-air explosion,air_accidents,49.0
54770,Hope Summers,2021-10-31,12.000000,2021 Salisbury rail crash,train_accident,1158.0
54776,Hope Summers,2022-01-15,11.142857,Empire State University,Fictional_characters,3.0
54793,Hope Summers,2022-06-27,63.000000,UM Airlines Flight 4230,air_accidents,14.0
54794,Hope Summers,2022-06-27,63.000000,2022 Missouri train derailment,train_accident,558.0

In [87]:
dic_Impacting_event_OnPeak

{'Fictional_characters':                   Peak count  All impacting View count  \
 Event
 Petra                    363                      49.0
 Hercules                 361                      66.0
 Wolverine                312                      43.0
 Generation X             307                      43.0
 Deadpool                 303                      48.0
 ...                      ...                       ...
 Will o' the Wisp           1                       0.0
 Radioactive Man            1                       0.0
 Defensor                   1                       0.0
 Battering Ram              1                       0.0
 John Steele                1                       0.0

                   Movies impacting View count  \
 Event
 Petra                                     7.0
 Hercules                                  5.0
 Wolverine                                 6.0
 Generation X                              6.0
 Deadpool                                  7.0
 ...                                       ...
 Will o' the Wisp                          0.0
 Radioactive Man                           0.0
 Defensor                                  0.0
 Battering Ram                             0.0
 John Steele                               0.0

                   Volcano_eruptions impacting View count  \
 Event
 Petra                                                3.0
 Hercules                                             4.0
 Wolverine                                            2.0
 Generation X                                         1.0
 Deadpool                                             1.0
 ...                                                  ...
 Will o' the Wisp                                     0.0
 Radioactive Man                                      0.0
 Defensor                                             0.0
 Battering Ram                                        0.0
 John Steele                                          0.0

                   train_accident impacting View count  \
 Event
 Petra                                            13.0
 Hercules                                         18.0
 Wolverine                                        13.0
 Generation X                                     10.0
 Deadpool                                         16.0
 ...                                               ...
 Will o' the Wisp                                  0.0
 Radioactive Man                                   0.0
 Defensor                                          0.0
 Battering Ram                                     0.0
 John Steele                                       0.0

                   Actors impacting View count  \
 Event
 Petra                                     4.0
 Hercules                                  2.0
 Wolverine                                 0.0
 Generation X                              2.0
 Deadpool                                  2.0
 ...                                       ...
 Will o' the Wisp                          0.0
 Radioactive Man                           0.0
 Defensor                                  0.0
 Battering Ram                             0.0
 John Steele                               0.0

                   Billionaires impacting View count  \
 Event
 Petra                                           7.0
 Hercules                                        8.0
 Wolverine                                       3.0
 Generation X                                    2.0
 Deadpool                                        7.0
 ...                                             ...
 Will o' the Wisp                                0.0
 Radioactive Man                                 0.0
 Defensor                                        0.0
 Battering Ram                                   0.0
 John Steele                                     0.0

                   Earthquakes impacting View count  \
 Event
 Petra                                          3.0
 Hercules                                       6.0
 Wolverine                                      9.0
 Generation X                                   9.0
 Deadpool                                       2.0
 ...                                            ...
 Will o' the Wisp                               0.0
 Radioactive Man                                0.0
 Defensor                                       0.0
 Battering Ram                                  0.0
 John Steele                                    0.0

                   Hurricanes impacting View count  \
 Event
 Petra                                         1.0
 Hercules                                      2.0
 Wolverine                                     2.0
 Generation X                                  0.0
 Deadpool                                      0.0
 ...                                           ...
 Will o' the Wisp                              0.0
 Radioactive Man                               0.0
 Defensor                                      0.0
 Battering Ram                                 0.0
 John Steele                                   0.0

                   air_accidents impacting View count  \
 Event
 Petra                                            8.0
 Hercules                                        18.0
 Wolverine                                        8.0
 Generation X                                    12.0
 Deadpool                                        10.0
 ...                                              ...
 Will o' the Wisp                                 0.0
 Radioactive Man                                  0.0
 Defensor                                         0.0
 Battering Ram                                    0.0
 John Steele                                      0.0

                   Fictional_characters impacting View count  \
 Event
 Petra                                                   2.0
 Hercules                                                2.0
 Wolverine                                               0.0
 Generation X                                            1.0
 Deadpool                                                2.0
 ...                                                     ...
 Will o' the Wisp                                        0.0
 Radioactive Man                                         0.0
 Defensor                                                0.0
 Battering Ram                                           0.0
 John Steele                                             0.0

                   Capitals impacting View count  \
 Event
 Petra                                       0.0
 Hercules                                    0.0
 Wolverine                                   0.0
 Generation X                                0.0
 Deadpool                                    0.0
 ...                                         ...
 Will o' the Wisp                            0.0
 Radioactive Man                             0.0
 Defensor                                    0.0
 Battering Ram                               0.0
 John Steele                                 0.0

                   Universities impacting View count
 Event
 Petra                                           1.0
 Hercules                                        1.0
 Wolverine                                       0.0
 Generation X                                    0.0
 Deadpool                                        1.0
 ...                                             ...
 Will o' the Wisp                                0.0
 Radioactive Man                                 0.0
 Defensor                                        0.0
 Battering Ram                                   0.0
 John Steele                                     0.0

 [478 rows x 13 columns],
 'Actors':                  Peak count  All impacting View count  \
 Event
 Charles Bronson         491                      72.0
 James Coburn            476                      93.0
 John Wayne              463                      82.0
 Johnny Cash             446                      71.0
 Klay Thompson           432                      80.0
 ...                     ...                       ...
 MichÃ¨le Marian            1                       0.0
 Dina Gralla               1                       0.0
 Miroslav Krobot           1                       0.0
 Leonid Kmit               1                       0.0
 Hans Wolff                1                       0.0

                  Movies impacting View count  \
 Event
 Charles Bronson                          6.0
 James Coburn                            12.0
 John Wayne                               8.0
 Johnny Cash                             11.0
 Klay Thompson                           10.0
 ...                                      ...
 MichÃ¨le Marian                           0.0
 Dina Gralla                              0.0
 Miroslav Krobot                          0.0
 Leonid Kmit                              0.0
 Hans Wolff                               0.0

                  Earthquakes impacting View count  \
 Event
 Charles Bronson                              12.0
 James Coburn                                 12.0
 John Wayne                                   12.0
 Johnny Cash                                   8.0
 Klay Thompson                                 9.0
 ...                                           ...
 MichÃ¨le Marian                                0.0
 Dina Gralla                                   0.0
 Miroslav Krobot                               0.0
 Leonid Kmit                                   0.0
 Hans Wolff                                    0.0

                  Actors impacting View count  \
 Event
 Charles Bronson                          4.0
 James Coburn                             2.0
 John Wayne                               2.0
 Johnny Cash                              3.0
 Klay Thompson                            3.0
 ...                                      ...
 MichÃ¨le Marian                           0.0
 Dina Gralla                              0.0
 Miroslav Krobot                          0.0
 Leonid Kmit                              0.0
 Hans Wolff                               0.0

                  train_accident impacting View count  \
 Event
 Charles Bronson                                 20.0
 James Coburn                                    24.0
 John Wayne                                      22.0
 Johnny Cash                                     24.0
 Klay Thompson                                   19.0
 ...                                              ...
 MichÃ¨le Marian                                   0.0
 Dina Gralla                                      0.0
 Miroslav Krobot                                  0.0
 Leonid Kmit                                      0.0
 Hans Wolff                                       0.0

                  air_accidents impacting View count  \
 Event
 Charles Bronson                                17.0
 James Coburn                                   21.0
 John Wayne                                     21.0
 Johnny Cash                                     7.0
 Klay Thompson                                  14.0
 ...                                             ...
 MichÃ¨le Marian                                  0.0
 Dina Gralla                                     0.0
 Miroslav Krobot                                 0.0
 Leonid Kmit                                     0.0
 Hans Wolff                                      0.0

                  Billionaires impacting View count  \
 Event
 Charles Bronson                                6.0
 James Coburn                                  11.0
 John Wayne                                    11.0
 Johnny Cash                                    4.0
 Klay Thompson                                 13.0
 ...                                            ...
 MichÃ¨le Marian                                 0.0
 Dina Gralla                                    0.0
 Miroslav Krobot                                0.0
 Leonid Kmit                                    0.0
 Hans Wolff                                     0.0

                  Fictional_characters impacting View count  \
 Event
 Charles Bronson                                        2.0
 James Coburn                                           2.0
 John Wayne                                             3.0
 Johnny Cash                                            3.0
 Klay Thompson                                          4.0
 ...                                                    ...
 MichÃ¨le Marian                                         0.0
 Dina Gralla                                            0.0
 Miroslav Krobot                                        0.0
 Leonid Kmit                                            0.0
 Hans Wolff                                             0.0

                  Universities impacting View count  \
 Event
 Charles Bronson                                2.0
 James Coburn                                   2.0
 John Wayne                                     0.0
 Johnny Cash                                    2.0
 Klay Thompson                                  0.0
 ...                                            ...
 MichÃ¨le Marian                                 0.0
 Dina Gralla                                    0.0
 Miroslav Krobot                                0.0
 Leonid Kmit                                    0.0
 Hans Wolff                                     0.0

                  Volcano_eruptions impacting View count  \
 Event
 Charles Bronson                                     2.0
 James Coburn                                        5.0
 John Wayne                                          2.0
 Johnny Cash                                         4.0
 Klay Thompson                                       5.0
 ...                                                 ...
 MichÃ¨le Marian                                      0.0
 Dina Gralla                                         0.0
 Miroslav Krobot                                     0.0
 Leonid Kmit                                         0.0
 Hans Wolff                                          0.0

                  Hurricanes impacting View count  \
 Event
 Charles Bronson                              1.0
 James Coburn                                 2.0
 John Wayne                                   0.0
 Johnny Cash                                  5.0
 Klay Thompson                                2.0
 ...                                          ...
 MichÃ¨le Marian                               0.0
 Dina Gralla                                  0.0
 Miroslav Krobot                              0.0
 Leonid Kmit                                  0.0
 Hans Wolff                                   0.0

                  Capitals impacting View count
 Event
 Charles Bronson                            0.0
 James Coburn                               0.0
 John Wayne                                 1.0
 Johnny Cash                                0.0
 Klay Thompson                              1.0
 ...                                        ...
 MichÃ¨le Marian                             0.0
 Dina Gralla                                0.0
 Miroslav Krobot                            0.0
 Leonid Kmit                                0.0
 Hans Wolff                                 0.0

 [420 rows x 13 columns],
 'Movies':                                 Peak count  All impacting View count  \
 Event
 The Goonies                            359                      51.0
 Apocalypse Now                         343                      62.0
 Kingsman: The Secret Service           335                      55.0
 John Wick                              334                      55.0
 Furious 7                              326                      45.0
 ...                                    ...                       ...
 Le Capital                               1                       0.0
 Redirected                               1                       0.0
 Life's Good                              1                       0.0
 Katyar Kaljat Ghusali                    1                       0.0
 Muhammad: The Messenger of God           1                       0.0

                                 Earthquakes impacting View count  \
 Event
 The Goonies                                                  4.0
 Apocalypse Now                                               2.0
 Kingsman: The Secret Service                                 7.0
 John Wick                                                    9.0
 Furious 7                                                    2.0
 ...                                                          ...
 Le Capital                                                   0.0
 Redirected                                                   0.0
 Life's Good                                                  0.0
 Katyar Kaljat Ghusali                                        0.0
 Muhammad: The Messenger of God                               0.0

                                 Billionaires impacting View count  \
 Event
 The Goonies                                                   8.0
 Apocalypse Now                                               17.0
 Kingsman: The Secret Service                                  5.0
 John Wick                                                     6.0
 Furious 7                                                     8.0
 ...                                                           ...
 Le Capital                                                    0.0
 Redirected                                                    0.0
 Life's Good                                                   0.0
 Katyar Kaljat Ghusali                                         0.0
 Muhammad: The Messenger of God                                0.0

                                 Movies impacting View count  \
 Event
 The Goonies                                            13.0
 Apocalypse Now                                          8.0
 Kingsman: The Secret Service                           12.0
 John Wick                                               3.0
 Furious 7                                               3.0
 ...                                                     ...
 Le Capital                                              0.0
 Redirected                                              0.0
 Life's Good                                             0.0
 Katyar Kaljat Ghusali                                   0.0
 Muhammad: The Messenger of God                          0.0

                                 train_accident impacting View count  \
 Event
 The Goonies                                                     9.0
 Apocalypse Now                                                 14.0
 Kingsman: The Secret Service                                   11.0
 John Wick                                                      15.0
 Furious 7                                                      11.0
 ...                                                             ...
 Le Capital                                                      0.0
 Redirected                                                      0.0
 Life's Good                                                     0.0
 Katyar Kaljat Ghusali                                           0.0
 Muhammad: The Messenger of God                                  0.0

                                 Volcano_eruptions impacting View count  \
 Event
 The Goonies                                                        2.0
 Apocalypse Now                                                     1.0
 Kingsman: The Secret Service                                       2.0
 John Wick                                                          2.0
 Furious 7                                                          3.0

In [88]:
dic_Impacting_event_OnPeak['Fictional_characters']

,Peak count,All impacting View count,Movies impacting View count,Volcano_eruptions impacting View count,train_accident impacting View count,Actors impacting View count,Billionaires impacting View count,Earthquakes impacting View count,Hurricanes impacting View count,air_accidents impacting View count,Fictional_characters impacting View count,Capitals impacting View count,Universities impacting View count
Event,,,,,,,,,,,,,
Petra,363,49.0,7.0,3.0,13.0,4.0,7.0,3.0,1.0,8.0,2.0,0.0,1.0
Hercules,361,66.0,5.0,4.0,18.0,2.0,8.0,6.0,2.0,18.0,2.0,0.0,1.0
Wolverine,312,43.0,6.0,2.0,13.0,0.0,3.0,9.0,2.0,8.0,0.0,0.0,0.0
Generation X,307,43.0,6.0,1.0,10.0,2.0,2.0,9.0,0.0,12.0,1.0,0.0,0.0
Deadpool,303,48.0,7.0,1.0,16.0,2.0,7.0,2.0,0.0,10.0,2.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Will o' the Wisp,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Radioactive Man,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Defensor,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Battering Ram,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
John Steele,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# %

In [94]:
Impacting_event_OnPeak_df=dic_Impacting_event_OnPeak['Fictional_characters']

In [95]:
Impacting_event_OnPeak_df['Prc of all View count']=(Impacting_event_OnPeak_df['All impacting View count']/data.Category.value_counts().sum())*100
Impacting_event_OnPeak_df['Prc of Movies View count']=(Impacting_event_OnPeak_df['Movies impacting View count']/data.Category.value_counts()['Movies'])*100
Impacting_event_OnPeak_df['Prc of air_accidents View count']=(Impacting_event_OnPeak_df['air_accidents impacting View count']/data.Category.value_counts()['air_accidents'])*100
Impacting_event_OnPeak_df['Prc of Billionaires View count']=(Impacting_event_OnPeak_df['Billionaires impacting View count']/data.Category.value_counts()['Billionaires'])*100
Impacting_event_OnPeak_df['Prc of Earthquakes View count']=(Impacting_event_OnPeak_df['Earthquakes impacting View count']/data.Category.value_counts()['Earthquakes'])*100
Impacting_event_OnPeak_df['Prc of train_accident View count']=(Impacting_event_OnPeak_df['train_accident impacting View count']/data.Category.value_counts()['train_accident'])*100
Impacting_event_OnPeak_df['Prc of Universities View count']=(Impacting_event_OnPeak_df['Universities impacting View count']/data.Category.value_counts()['Universities'])*100
Impacting_event_OnPeak_df['Prc of Actors View count']=(Impacting_event_OnPeak_df['Actors impacting View count']/data.Category.value_counts()['Actors'])*100
Impacting_event_OnPeak_df['Prc of Fictional_characters View count']=(Impacting_event_OnPeak_df['Fictional_characters impacting View count']/data.Category.value_counts()['Fictional_characters'])*100
Impacting_event_OnPeak_df['Prc of Volcano_eruptions View count']=(Impacting_event_OnPeak_df['Volcano_eruptions impacting View count']/data.Category.value_counts()['Volcano_eruptions'])*100
Impacting_event_OnPeak_df['Prc of Hurricanes View count']=(Impacting_event_OnPeak_df['Hurricanes impacting View count']/data.Category.value_counts()['Hurricanes'])*100
Impacting_event_OnPeak_df['Prc of Capitals View count']=(Impacting_event_OnPeak_df['Capitals impacting View count']/data.Category.value_counts()['Capitals'])*100

In [96]:
Impacting_event_OnPeak_df.iloc[:,13:].mean().to_frame()

                                               0
Prc of all View count                   0.487747
Prc of Movies View count                0.563172
Prc of air_accidents View count         0.719559
Prc of Billionaires View count          0.734785
Prc of Earthquakes View count           0.471415
Prc of train_accident View count        0.977758
Prc of Universities View count          0.168526
Prc of Actors View count                0.163411
Prc of Fictional_characters View count  0.178164
Prc of Volcano_eruptions View count     2.206776
Prc of Hurricanes View count            2.966908
Prc of Capitals View count              0.022672

# Anniversaries effect

Now the time to investigate the anniversaries effect on the same event. For the we investigate the peaks that occured at the anniversary dates

In [277]:
df_peak_timestamps[['event','Timestamps','prominences','First Event Aniv']]

,event,Timestamps,prominences,First Event Aniv
0,China Eastern Airlines Flight 5210,2015-11-12,13.785714,2005-01-14
1,China Eastern Airlines Flight 5210,2016-01-15,18.285714,2005-01-14
2,China Eastern Airlines Flight 5210,2016-08-04,11.928571,2005-01-14
3,China Eastern Airlines Flight 5210,2016-12-12,10.214286,2005-01-14
4,China Eastern Airlines Flight 5210,2017-01-15,16.357143,2005-01-14
...,...,...,...,...
35,Southwest Airlines Flight 345,2021-10-10,867.357143,2013-07-23
36,Southwest Airlines Flight 345,2021-11-30,13.785714,2013-07-23
37,Southwest Airlines Flight 345,2022-02-08,22.785714,2013-07-23
38,Southwest Airlines Flight 345,2022-04-03,26.714286,2013-07-23
39,Southwest Airlines Flight 345,2022-05-20,548.000000,2013-07-23

In [90]:
df_peak_timestamps['Anniversary']=[date in[aniv+ relativedelta(years=y) for y in range (50)] for date, aniv in zip(df_peak_timestamps['Timestamps'],df_peak_timestamps['First Event Aniv'])]

In [91]:
Event_peak_aniv=df_peak_timestamps[df_peak_timestamps['Anniversary']==True][['event','Timestamps','prominences','First Event Aniv','Anniversary']]

In [92]:
ani=Event_peak_aniv.groupby(['event'],as_index=False).size()
peak=df_peak_timestamps.groupby(['event'],as_index=False).size()
anniversary_df = pd.merge(peak, ani, how='left', on=['event']).fillna(0)
anniversary_df=anniversary_df.rename(columns={'size_x':'number of peaks','size_y':'number of peaks on anniversaries'})

In [93]:
anniversary_df.sort_values(by='number of peaks on anniversaries', ascending=False)

,event,number of peaks,number of peaks on anniversaries
98,1902 Guatemala earthquake,15,3.0
359,2011 Sikkim earthquake,88,3.0
378,2015 Illapel earthquake,74,2.0
339,2009 L'Aquila earthquake,120,2.0
326,2008 Iceland earthquake,28,2.0
...,...,...,...
135,1925 Santa Barbara earthquake,39,0.0
134,1925 Dali earthquake,6,0.0
133,1925 Charlevoixâ€“Kamouraska earthquake,18,0.0
132,1924 Pasinler earthquake,3,0.0
404,October 2010 Sumatra earthquake and tsunami,10,0.0

The question here is: Are there peaks that occured in the anniversary of  the event?
- Answer is : 
- there are (142 peaks of 25822) from 56 events that coincide with anniversary dates:0.5% 
- there are 224 (56*4) anniversaries for the 56 events 142 of them have peaks : 63.39%

## test on one cat

In [72]:
Fictional_characters_df= data[data["Category"]=="air_accidents"].iloc[:,:-3].T
Fictional_characters_df.index = pd.to_datetime(Fictional_characters_df.index)
Fictional_characters_df

Unnamed: 0,American Airlines Flight 11,United Airlines Flight 175,Japan Airlines Flight 123,Sita Air Flight 601,China Eastern Airlines Flight 5210,LOT Polish Airlines Flight 5055,Gulf Air Flight 072,Garuda Indonesia Flight 865,LAPA Flight 3142,1977 Convair CV-300 crash,...,1935 SABENA Savoia-Marchetti S.73 crash,1938 Kyeema crash,1938 Yosemite TWA crash,Malaysia Airlines Flight 17,American Flyers Airline Flight 280,"An-24 incident at Gambell, Alaska",Ansett-ANA Flight 149,Ansett New Zealand Flight 703,Ariana Afghan Airlines Flight 701,United Express Flight 6291
2015-07-01,1289.0,799.0,1044.0,10.0,22.0,23.0,78.0,35.0,37.0,537.0,...,4.0,18.0,17.0,2500.0,0.0,12.0,14.0,29.0,18.0,0.0
2015-07-02,1410.0,843.0,1179.0,22.0,27.0,31.0,50.0,37.0,55.0,544.0,...,8.0,13.0,11.0,2705.0,0.0,6.0,14.0,24.0,18.0,0.0
2015-07-03,1409.0,930.0,1164.0,20.0,33.0,11.0,59.0,44.0,36.0,697.0,...,4.0,14.0,14.0,3493.0,0.0,9.0,23.0,43.0,19.0,0.0
2015-07-04,1292.0,870.0,861.0,18.0,29.0,31.0,46.0,34.0,40.0,818.0,...,6.0,6.0,7.0,2106.0,0.0,8.0,9.0,54.0,27.0,0.0
2015-07-05,1502.0,905.0,892.0,14.0,31.0,39.0,49.0,32.0,53.0,828.0,...,9.0,15.0,10.0,2302.0,0.0,12.0,26.0,27.0,38.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-27,2501.0,1488.0,390.0,13.0,111.0,85.0,102.0,28.0,63.0,3.0,...,3.0,14.0,0.0,2786.0,0.0,5.0,12.0,91.0,39.0,92.0
2022-07-28,2433.0,1500.0,776.0,19.0,123.0,136.0,124.0,29.0,91.0,2.0,...,4.0,6.0,1.0,2430.0,0.0,6.0,11.0,131.0,42.0,114.0
2022-07-29,2252.0,1403.0,488.0,12.0,93.0,112.0,89.0,30.0,499.0,4.0,...,10.0,8.0,1.0,2168.0,0.0,2.0,12.0,115.0,43.0,110.0
2022-07-30,2356.0,1298.0,428.0,13.0,153.0,115.0,91.0,19.0,203.0,4.0,...,8.0,9.0,1.0,2182.0,0.0,6.0,8.0,70.0,27.0,67.0
2022-07-31,2492.0,1504.0,413.0,12.0,119.0,120.0,90.0,38.0,108.0,6.0,...,4.0,11.0,0.0,2433.0,1.0,9.0,13.0,95.0,35.0,83.0

In [10]:
#working om events with more than 250 views in mean
#df=Fictional_characters_df[Fictional_characters_df.columns[Fictional_characters_df.mean()>250]]#.iloc[:,:-43]

In [73]:
df_peak_timestamps=ts2peak(Fictional_characters_df,14)
df_peak_timestamps['Peak date'] =[d.date() for d in df_peak_timestamps['Timestamps']]
# ADD the first aniv date to the peak timestamps df
df_peak_timestamps['First Event Aniv']=[events_df[events_df['Main Event']==event]['Main_Event_date'].values[0] for event in df_peak_timestamps['event']]
df_peak_timestamps

,Timestamps,right_ips,left_ips,right_bases,left_bases,prominences,Value,widths,width_heights,days,months,year,event,distance_2_peak,Peak date
0,2015-07-19,7.059783,0.651620,15,0,40.214286,1505.857143,6.408162,1485.750000,Sunday,7.0,2015.0,American Airlines Flight 11,NaT,2015-07-19
1,2015-08-07,24.600503,23.552434,26,15,17.071429,1541.928571,1.048068,1533.392857,Friday,8.0,2015.0,American Airlines Flight 11,19 days,2015-08-07
2,2015-08-28,47.907692,42.675579,51,15,76.428571,1825.500000,5.232113,1787.285714,Friday,8.0,2015.0,American Airlines Flight 11,21 days,2015-08-28
3,2015-09-21,73.260762,59.009492,171,15,7375.714286,8827.000000,14.251270,5139.142857,Monday,9.0,2015.0,American Airlines Flight 11,24 days,2015-09-21
4,2015-11-25,138.792758,124.446286,171,108,719.214286,2034.428571,14.346471,1674.821429,Wednesday,11.0,2015.0,American Airlines Flight 11,65 days,2015-11-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,2022-05-05,2488.824324,2486.420699,2502,2480,30.785714,158.714286,2.403625,143.321429,Thursday,5.0,2022.0,United Express Flight 6291,9 days,2022-05-05
65,2022-06-07,2520.539062,2519.178571,2532,2502,19.714286,139.785714,1.360491,129.928571,Tuesday,6.0,2022.0,United Express Flight 6291,33 days,2022-06-07
66,2022-06-14,2531.426316,2524.963415,2532,2521,12.714286,134.214286,6.462901,127.857143,Tuesday,6.0,2022.0,United Express Flight 6291,7 days,2022-06-14
67,2022-06-21,2538.111111,2532.809451,2540,2502,20.142857,168.071429,5.301660,158.000000,Tuesday,6.0,2022.0,United Express Flight 6291,7 days,2022-06-21
68,2022-07-03,2546.752967,2532.252287,2562,2502,72.500000,168.142857,14.500681,131.892857,Sunday,7.0,2022.0,United Express Flight 6291,12 days,2022-07-03

In [75]:
# building the impact df
Impacting_event_OnPeak_df=pd.DataFrame()
Impacting_event_OnPeak_df['Event']=df_peak_timestamps.event.value_counts().index
Impacting_event_OnPeak_df['Peak count']=df_peak_timestamps.event.value_counts().values
Impacting_event_OnPeak_df=Impacting_event_OnPeak_df.set_index('Event')
Impacting_event_OnPeak_df

                                          Peak count
Event
Hindenburg disaster                              305
Space Shuttle Challenger disaster                255
Pan Am Flight 103                                237
US Airways Flight 1549                           232
TWA Flight 800                                   231
...                                              ...
KLM Flight 592                                     1
1959 Air Charter Turkey crash                      1
1912 Brooklands Flanders Monoplane crash           1
Aeroflot Flight 99                                 1
Commonwealth Commuter Flight 317                   1

[444 rows x 1 columns]

In [224]:
# for each event get the characteristics of its peaks in Flights_peak_features
# Flights_peak_features = pd.read_csv("Flights_peak_features.csv")
# Flights_peak_features.drop('Unnamed: 0', axis=1, inplace=True)
# Flights_peak_features.sort_values(by=['Timestamps','prominences'], ignore_index=True, inplace=True)
# Flights_peak_features['Timestamps'] = pd.to_datetime(Flights_peak_features['Timestamps'])
# df_peak_timestamps['Peak date'] =[d.date() for d in df_peak_timestamps['Timestamps']]
# Flights_peak_features.head(2)

# I- finding occurring events at the peaks 
- to justify collective memory

In [81]:
# for each peak in an event find the main event from the event_df whose first birthday (Main_Event_date) coincides with a peak date
s1=df_peak_timestamps.merge(events_df, left_on='Peak date', right_on='Main_Event_date', how='left')
s1=s1[~s1['Main Event'].isnull()]
inpact_df=pd.DataFrame()
inpact_df['Event']=s1['event']
inpact_df['Peak Date']=pd.to_datetime(s1['Timestamps'])
#inpact_df['Peak Date']=[d.date() for d in s1['Timestamps']]
inpact_df['Peak Prominance']=s1['prominences']
inpact_df['Impacting Event']=s1['Main Event']
inpact_df['Impacting Event Category']=s1['Category']
inpact_df['Impacting Event View count']=[data[str(dt)][ev] for dt ,ev in zip(inpact_df['Peak Date'],inpact_df['Impacting Event']) ] 
inpact_df

,Event,Peak Date,Peak Prominance,Impacting Event,Impacting Event Category,Impacting Event View count
0,American Airlines Flight 11,2015-07-19,40.214286,How to Make Love Like an Englishman,Movies,524.0
1,American Airlines Flight 11,2015-08-07,17.071429,2015 South Kivu earthquake,Earthquakes,0.0
9,American Airlines Flight 11,2016-02-07,12.285714,O'Hare CTA station train crash,train_accident,25.0
10,American Airlines Flight 11,2016-02-18,28.071429,1842 Cap-Haitien earthquake,Earthquakes,7.0
25,American Airlines Flight 11,2017-01-31,27.785714,David Sun,Billionaires,18.0
...,...,...,...,...,...,...
20735,United Express Flight 6291,2021-04-20,109.357143,Benavidez rail disaster,train_accident,14.0
20744,United Express Flight 6291,2021-10-12,10.000000,Xu Shaoyong,Billionaires,3.0
20745,United Express Flight 6291,2021-10-12,10.000000,1963 Aeroflot Tupolev Tu-124 Neva river ditching,air_accidents,20.0
20748,United Express Flight 6291,2021-12-06,55.071429,Himeanole,Movies,39.0
20753,United Express Flight 6291,2022-03-05,25.857143,Ukraine on Fire,Movies,157.0

In [82]:
# Impacting_event_OnPeak_df=pd.DataFrame()
# Impacting_event_OnPeak_df['Event']=inpact_df["Event"].value_counts().index
#Impacting_event_OnPeak_df['All impacting View count']=inpact_df["Event"].value_counts().values

Impacting_event_OnPeak_df = Impacting_event_OnPeak_df.merge(inpact_df["Event"].value_counts(), left_index=True, right_index=True, how='left')
Impacting_event_OnPeak_df.columns = [*Impacting_event_OnPeak_df.columns[:-1], "All impacting View count"]

for cat in s1.Category.unique():

    Impacting_event_OnPeak_df = Impacting_event_OnPeak_df.merge(inpact_df[inpact_df["Impacting Event Category"]==cat]["Event"].value_counts(), left_index=True, right_index=True, how='left')
    Impacting_event_OnPeak_df.columns = [*Impacting_event_OnPeak_df.columns[:-1], cat+" impacting View count"]
Impacting_event_OnPeak_df=Impacting_event_OnPeak_df.fillna(0)
Impacting_event_OnPeak_df

,Peak count,All impacting View count,Movies impacting View count,Earthquakes impacting View count,train_accident impacting View count,Billionaires impacting View count,air_accidents impacting View count,Fictional_characters impacting View count,Actors impacting View count,Universities impacting View count,Volcano_eruptions impacting View count,Hurricanes impacting View count,Capitals impacting View count
Event,,,,,,,,,,,,,
Hindenburg disaster,305,42.0,8.0,6.0,10.0,3.0,7.0,1.0,1.0,2.0,4.0,0.0,0.0
Space Shuttle Challenger disaster,255,50.0,8.0,5.0,17.0,3.0,10.0,1.0,2.0,1.0,3.0,0.0,0.0
Pan Am Flight 103,237,40.0,2.0,5.0,8.0,5.0,13.0,1.0,1.0,2.0,2.0,1.0,0.0
US Airways Flight 1549,232,48.0,9.0,5.0,21.0,3.0,6.0,2.0,1.0,1.0,0.0,0.0,0.0
TWA Flight 800,231,39.0,6.0,6.0,7.0,4.0,5.0,7.0,1.0,0.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
KLM Flight 592,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1959 Air Charter Turkey crash,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1912 Brooklands Flanders Monoplane crash,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Aeroflot Flight 99,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Commonwealth Commuter Flight 317,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [269]:
data.Category.value_counts()

air_accidents           1146
Earthquakes             1082
Fictional_characters     492
train_accident           477
Movies                   448
Actors                   417
Billionaires             326
Capitals                 203
Countries                197
Universities             143
Volcano_eruptions         31
Hurricanes                11
Name: Category, dtype: int64

In [272]:
Impacting_event_OnPeak_df.iloc[:,13:].mean().to_frame()

                                               0
Prc of all View count                   0.279796
Prc of Movies View count                0.168305
Prc of air_accidents View count         0.317705
Prc of Billionaires View count          0.228110
Prc of Earthquakes View count           0.507316
Prc of train_accident View count        0.492001
Prc of Universities View count          0.075796
Prc of Actors View count                0.061252
Prc of Fictional_characters View count  0.059960
Prc of Volcano_eruptions View count     0.656715
Prc of Hurricanes View count            0.642618
Prc of Capitals View count              0.003250

The question here is: For every peak in each event , are there other Events that have started at the same time as a peak?
- answer from the peaks in 430 events , 0,3% peaks of these peaks occured at the same time as the first  occurence of 940 events

In [274]:
inpact_df[inpact_df['Impacting Event Category']=='Movies'].groupby(['Event'],as_index=False).size()['size'].mean()

2.0253164556962027

In [275]:
# an event is affected in average by the occurrences of 9 other events
inpact_df.groupby(['Event'],as_index=False).size()['size'].mean()

15.891280947255114

In [276]:
# in avg an Impacting event impacts 19 other events by their first occurrences
inpact_df.groupby(['Impacting Event'],as_index=False).size()['size'].mean()

15.219587628865979

In [112]:
57*4

228

In [81]:
(142/224)*100

63.39285714285714

The question here is: For every peak in each event , are there other anniversarry that have started at the same time as a peak?

In [136]:
Flights_peak_features['Event date'][23609]==new_events['Event date'][94]

True

In [102]:
new_events['Event date'][94]

datetime.date(2020, 1, 2)

In [105]:
Flights_peak_features['Timestamps'][23609]

Timestamp('2020-01-02 00:00:00')